#board {
    height: 50vw;
    width: 50vw;
    border-radius: 5px;
    border: 15px solid rgb(56, 46, 38);
    display: grid;
    grid-template-rows: 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw;
    grid-template-columns: 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw;
    margin: 20px;
}

.tile {
    height: 6.25vw;
    width: 6.25vw;
    box-sizing: border-box;
}

#info {
    position: absolute;
    background-color: #18191a;
    top: calc(50vw + 70px);
    padding: 10px;
    border-radius: 5px;
    width: 25vw;
    color: white;
    border: 10px solid rgb(56, 46, 38);
}

#info > ul >li > h3 {
    font-size: 25px;
    margin: 10px;
}

#info > ul > li > h6 {
    font-size: 15px;
    margin: 5px;
}