#board {
    height: 800px;
    width: 800px;
    border: 5px solid black;
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}

.tile {
    height: 100px;
    width: 100px;
}

#info {
    position: absolute;
    left: 850px;
    top: 0px;
}

#info > ul >li > h3 {
    font-size: 25px;
    margin: 0px;
}

#info > ul > li > h6 {
    font-size: 15px;
    margin: 5px;
}