#root {
    display: flex;
    justify-content: center;
    background-color: rgb(97, 82, 69);
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}