.piece-div {
    height: 6.25vw;
    width: 6.25vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece-img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.king-img {
    height: 90%;
    width: 90%;
}
.pawn-img {
    height: 70%;
    width: 70%;
}